.main-container {
  padding: 20px;
}

#with-placeholder {
  color: #1155cc;
}

.timer.MuiPaper-rounded-117 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 15px;
  text-align: center;
  line-height: 150px;
  font-size: 24px;
}

button.button-close {
  color: #50cbde;
  left: 90%;
}

h2.modal-title-h2,
h3.modal-title-h3 {
  margin: 20px;
}

h2.modal-title-h2 {
  margin-top: 10px;
  color: #c34164;
}
.tab {
  width: 100%;
  margin-top: 5%;
}

header.tab-header {
  background-color: #48bdd5;
  box-shadow: inherit;
}

button.tab-field-header {
  max-width: 100%;
  flex: 1;
  font-weight: 700;
  font-size: 1rem;
}

button.tab-field-header > span,
.MuiTab-label-207 {
  font-size: 1rem !important;
}

.row-tasks-log > td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  color: #1155cc;
}

.row-tasks-log {
  background-color: #eaf6fe;
}

button.button-table {
  background-color: #ffffff;
  margin: 10% auto;
}