::-webkit-input-placeholder {
  text-align:center;
  color: #1155cc !important;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  text-align:center;
  color: #1155cc !important;
  opacity: 1 !important;
}

body {
  color: #1155cc;
}

:focus {
  outline: none;
}